<h1>
  Devour It!
</h1>
<div class="container">
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        <li>
          {{burger_name}}
          <button
            class="change-devoured"
            data-id="{{id}}"
            data-newDevour="{{devoured}}"
          >
            {{#if devoured}}
              Give me more!!!
            {{else}}
              Devour it!
            {{/if}}
          </button>
        </li>
        {{!-- {{> burgers/burger-block devored=true}} --}}
      {{/unless}}
    {{/each}}
  </ul>
</div>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}
        <button
          class="change-devoured"
          data-id="{{id}}"
          data-newDevour="{{devoured}}"
        >
          {{#if devoured}}
            Give me more!!!
          {{else}}
            Devour it!
          {{/if}}
        </button>
      </li>
    {{/if}}
  {{/each}}
</ul>
<h2>
  Add Your Burger
</h2>
<form class="create-form">
  <div class="form-group">
    <input type="text" id="ca" name="name" />
  </div>
  <button type="submit">
    Submit
  </button>
</form>